/* 全体のレイアウト */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #404048;
}

/* コンテナ */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
h1{
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

/* スレッド作成フォーム */
.thread-form {
  display: flex;
  flex-direction: row; /* 横並びにする */
  justify-content: space-between;
  margin-bottom: 20px;
}

.thread-form input {
  width: 85%;
  height: 20px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.thread-form button {
  height: 40px;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #EF4050;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thread-form button:hover {
  background-color: #EF4050;
}

/* スレッド一覧 */
#threads {
  margin-bottom: 20px;
  max-height: 30vh;
  overflow-y: auto;
}

#threads .thread {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#threads .thread:hover {
  background-color: #f1f1f1;
}

#threads .thread.active {
  background-color: #e0e0e0;
  border-color: #b0b0b0;
}

/* 投稿内容の表示エリア */
#posts {
  flex-grow: 1; /* 残りの空間を埋める */
  overflow-y: auto; /* もし投稿が多くなったらスクロール可能 */
  margin-bottom: 20px;
  max-height: calc(80vh - 160px);
  color: #ffffff;
  font-weight: bold;
}
/* 番号を青色にする */
.post-number {
  color: red;
  margin-right: 10px;  /* 番号と投稿時間の間に空白を追加 */
}

/* 投稿時間のスタイル */
.post-time {
  color: #03f917;  /* 任意で投稿時間の色を少し変えることができます */
}


/* 文字入力欄と投稿ボタンの配置 */
.post-form {
  display: flex;
  flex-direction: row;  /* 横並びにする */
  align-items: center;  /* 縦方向で中央揃え */
  margin-top: 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color:#426579;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 85%;  /* 入力欄の幅を調整 */
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  resize: none; /* ユーザーがリサイズできないようにする */
  margin-left: 10px; /* ボタンとの間に隙間を作る */
  margin-right: 10px;
}

/* 画像挿入ボタン */
.image-upload-btn {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* 入力欄との間に隙間を空ける */
}

.image-upload-btn:hover {
  background-color: #000000;
}

button {
  padding: 10px 20px;
  background-color: #EF4050;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #EF4050;
}

/* スレッドリストの表示/非表示ボタン */
#toggle-threads {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#toggle-threads:hover {
  background-color: #000000;
}

